.add-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    padding: 10px;
    border: 1px solid #bfade3;
    border-radius: 6px;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 15px #bfade3;
    }
  }

  button {
    background: none;
    border: 1px solid #bfade3;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 15px #bfade3;
    }
  }
}
