.btn {
  display: flex;
  column-gap: 20px;

  .buttons {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    background-color: #bfade3;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #ac95db;
    }
  }

  .active {
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    background-color: #9e7ce4;
    cursor: pointer;
    transition: all 0.3s;
  }
}
