.to-do-list-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    column-gap: 10px;

    button {
      border-radius: 6px;
      border: 1px solid #f5f5f5;
      padding: 10px 15px;
      background: none;
      display: flex;
      color: #000000;
      cursor: pointer;
    }

    .delete {
      background-color: #ffc9c9;
    }

    .favourites {
      background-color: #fdffd1;
    }
  }
}

.favourited {
  text-shadow: 0px 0px 10px #fdff9b;
}
