* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: max-content;
  min-width: 460px;
  height: 100vh;
  border: 1px solid #ccdbff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 48px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin: 0;
}

.search-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.without-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease-in-out;

  font-size: 40px;
}
